* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  border-radius: 5px;
  /* background-color: #242424; */
  font-family: Montserrat, sans-serif;
  width: 100%;
  height: 100%;
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: Avenir, sans-serif; */
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: rgba(255, 255, 255, 0.87);

  width: 700px;
  height: 600px;
}
